body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ddd1d1;
    padding: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.dog-card {
    border: 1px solid #7d7979;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.dog-card img {
    max-width: 100%;
    border-radius: 5px;
}